# Virtual Env
.venv

# Pycache
__pycache__
*.pyc

# Database file
data/*

# Hidden passwords
secrets.py

# Notes
response_data.txt
notes.txt

# Exclude generated content...
output
*.png
*.html

# But include the template!
!index_template.html