# Virtual Env
.venv

# Pycache
__pycache__

# Database file
data/*

# Hidden passwords
secrets.py

# Notes
response_data.txt

# Exclude generated content...
*.png
*.html

# But include the template!
!index_template.html